.select-results-list {
	overflow:hidden;
	overflow-y:scroll;
	height: 95vh;
}

.item-label {
	padding: 2px;
}

.selected {
	background: #F39814; color: white;
}

.editing {
	background: #ADD8E6; color: white;;
}