<html>
  <head>
    <title>R@B Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.viewer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.lister.css') }}">
    <script src="{{ url_for('static', filename='lib/jquery/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dash.data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dash.shell.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dash.viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dash.lister.js') }}"></script>

  </head>
  <body>
      <div id="dash">
      </div>
      <script>
        $( document ).ready(function() {
          dash.initModule( $('#dash') );
        });
      </script>
  </body>
</html>
