<html>
<head>
<style type="text/css">
	#flex-container {
		display: flex;
	}

	#reset-view {
		visibility: hidden;
	}

	.list {
		flex: 1 1;
	}

	.selector-arrow {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.item-label {
		flex: 9 9;
		padding: 2px;
	}

	.editing-box {
		flex: 1 1;
	}

	.enable-editing {
		margin: 2px;
		height: 25px;
		width: 25px;
		z-index: 1;

	}

	.details {
		flex: 2 2;
	}

	.selected {
		background: #F39814; color: white;
	}

	.editing {
		background: #ADD8E6; color: white;;
	}

	.data-table {
		border-collapse: collapse;
		border-bottom: 1px solid black;
		margin-bottom: 10px;
	}

	.triple-table {
		border-collapse: collapse;
		table-layout: fixed;
		white-space: normal;
		width: 95%;
		margin: 10px auto;
	}

	.triple-table tr {
		vertical-align: baseline;
		border-bottom: 1px solid black;
	}

	.triple-table tr:last-of-type {
		border-bottom: none;
	}

	.triple-table td {
		padding: 5px 5px;
		border-left: 1px solid black;
		overflow: auto;
	}

	.triple-table td:first-of-type {
		border: none;
	}

	.triple-table .del-triple {
		width: 10%;
		border: none;
	}

	.triple-header {
		display: flex;
		border-top: 1px solid black;
		padding: 5px 8px;
	}

	.triple-sbj {
		flex: 1 1;
		text-align: center;
	}

	.triple-prd {
		flex: 3 3;
	}

	.triple-obj {
		flex: 1 1;
		text-align: center;
	}

	.triple-expand {
		flex: 1 1;
	}

	#merge-into input {
		visibility: hidden;
	}

/*	summary {
		display: block;
	}

	summary::-webkit-details-marker {
  		display: none;
	}*/

</style>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<div id="flex-container">
		<div class="list">
			<form id="filter-selector-list">
				<select id="filter-type">
					<option value="organizations">Organizations</option>
					<option value="venues">Venues</option>
					<option value="concepts">Research Areas</option>
				</select>
				<input type="submit" value="X" />
			</form>
			<ul id="selector-list" style="overflow:hidden; overflow-y:scroll; height: 95vh">
			</ul>
		</div>
		<div class="details" id="inspector">
			<button id="reset-view">X</button>
			<h2 id="label-display"></h2>
			<h3 id="uri-display"></h3>
			<div>
				<table class='properties data-table'></table>
			</div>
			<div>
				<div class='pointers'></div>
			</div>
			<div>
				<form id="merge-into">
					<input type="submit" value="Merge" />
				</form>
				<table id="merge-candidates" style="border-collapse: collapse; border-bottom: 1px solid black"></table>
			</div>
		</div>
	</div>
	<script>

		var is_editing = false;

		$('#merge-into').submit( function(e) {
			e.preventDefault();

			var merge_into = $('#inspector').attr('data-rabid');
			var selected = $('#selector-list .selected');

			var uris_to_merge = [];
			selected.each( function(i, slct) {
				var li = $( slct );
				uris_to_merge.push( li.attr("data-rabid") );
			});

			$.ajax({
				url: 'http://localhost:5000/merge/',
				method: 'POST',
				dataType: 'json',
				contentType: "application/json",
				data: JSON.stringify({ 'to_merge': uris_to_merge, 'merge_into': merge_into }),
				success: function( data ) {
					console.log( data );
				}
			});

		});

		$('#reset-view').click( function (e) {
			e.preventDefault()

			resetView();
		});

		$('#filter-selector-list').submit( function(e) {
			e.preventDefault();

			var type_param = $(this).find('#filter-type option:selected')
								.attr('value');

			$.ajax({
				url: 'http://localhost:5000/selector',
				data: { 'type': type_param },
				success: function( data ) {
					showSelectList( data );
				}
			});

		});

		$('#list-controls').submit( function(e) {
			e.preventDefault();

			var type_param = 'controls';

			$.ajax({
				url: 'http://localhost:5000/selector',
				data: { 'type': type_param },
				success: function( data ) {
					showControlList( data );
				}
			});

		});

		var showControlList = function(data) {
			var slc_list = $("#control-list");
			slc_list.empty();

			var jdata = JSON.parse(data);
			$.each(jdata, function(i, row) {
				var li = $('<li/>', { 'class': 'select-controls',
									'data-rabid': row['rabid']})
							.text(row['label']);
				slc_list.append(li);
			});

			$('.select-controls').click( function() {
				var rabid = $(this).attr('data-rabid');
				$.ajax({
					// dataType: "json",
					url: 'http://localhost:5000/explorer/' + rabid,
					success: function( data ) {
						showDetails( data );
					}
				});
			});
		};

		var showSelectList = function(data) {
			var slc_list = $("#selector-list");
			slc_list.empty();

			var jdata = JSON.parse(data);
			$.each(jdata, function(i, row) {
				var li = $('<li/>', { 'class': 'selector-arrow',
									'data-rabid': row['rabid']});
				var label = $('<div/>', {'class': 'item-label'})
								.text(row['label']);
				var edit_box = $('<div/>', {'class': 'editing-box'});
				var edit_btn = $('<button/>', {'class': 'enable-editing',
												'html': '&plus;'});
				edit_box.append(edit_btn);
				li.append(label).append(edit_box);
				slc_list.append(li);
			});

			$('.item-label').click( function() {
				$li = $(this).closest('li');

				if (is_editing === false) {
					if ( $li.hasClass('selected') ) {
						$('.selector-arrow').removeClass('selected');
					}
					else {
						$('.selector-arrow').removeClass('selected');
						$li.addClass('selected');
						var rabid = $li.attr('data-rabid');
						$.ajax({
							// dataType: "json",
							url: 'http://localhost:5000/explorer/' + rabid,
							success: function( data ) {
								showDetails( data );
							}
						});
					}
				}
				else {
					if ( $li.hasClass('selected') ) {
						$li.removeClass('selected');
						removeMergeCandidate($li.attr('data-rabid'));
					}
					else if ( $li.hasClass('editing') ) {
							return true;
					}
					else {
						$li.addClass('selected');
						var rabid = $li.attr('data-rabid');
						$.ajax({
							// dataType: "json",
							url: 'http://localhost:5000/explorer/' + rabid,
							success: function( data ) {
								addMergeCandidate( data );
							}
						});
					}
					
				}
			});

			$('.enable-editing').click( function(e) {
				e.preventDefault();

				is_editing = true;

				$('.selector-arrow').removeClass('selected editing');

				$li = $(this).closest('li');
				$li.removeClass('selected').addClass('editing');

				var rabid = $li.attr('data-rabid');
				$.ajax({
					// dataType: "json",
					url: 'http://localhost:5000/explorer/' + rabid,
					success: function( data ) {
						editDetails( data );
					}
				});
			});
		};

		var editDetails = function ( data ) {
			$('#uri-display').empty()
			$('#label-display').empty()
			$('.pointers').empty();
			$('.properties').empty();

			$('#label-display').text(data['label']);
			$('#uri-display').text(data['uri']);
			$('#inspector').attr('data-rabid', data['rabid']);
			$('#reset-view').css('visibility', 'visible');
			$('#merge-into input').css('visibility', 'visible');

			var data_out = data['pointers'];
			var data_in = data['targets'];
			var data_props = data['properties'];

			$.each(data_props, function (i, row) {
				var tr = $('<tr/>').css('vertical-align','baseline');
				var td_prd = $('<td/>').text(row['predicate']).css({'border-top':'1px solid black', 'padding-top': '8px'});
				var td_data = $('<td/>').css({'border-top':'1px solid black', 'padding-top': '8px'});
				var lst = $('<ul/>');
				$.each(row['value'], function(i, val) {
					var li_val = $('<li/>').text(val);
					lst.append(li_val);
				});
				td_data.append(lst);
				tr.append(td_prd).append(td_data);
				$('.properties').append(tr);
			});

			$.each(data_in, function (i, row) {
				var triple_details = $('<details/>');

				var triple_hdr = $('<summary/>', {'class': 'triple-header'});
				var triple_hdr_sbj = $('<span/>', {'class': 'triple-sbj'})
					.text(row['subjects'].length);
				var triple_hdr_prd = $('<span/>', {'class': 'triple-prd'})
					.text(row['predicate']);
				var triple_hdr_obj = $('<span/>', {'class': 'triple-obj'});

				triple_hdr.append(triple_hdr_sbj).append(triple_hdr_prd)
					.append(triple_hdr_obj);

				var triple_table = $('<table/>', {'class': 'triple-table'});
				$.each(row['subjects'], function(i, sbj) {
					// , {	'class': 'arrow','data-rabid': sbj.substring(33) }).text(sbj);
					var tr = $('<tr/>');
					var td_sbj = $('<td/>').text(sbj);
					var td_prd = $('<td/>').text(row['predicate']);
					var td_obj = $('<td/>').text(data['uri']);
					var del_btn = $('<button/>').text('X');
					var td_del = $('<td/>', {'class': 'del-triple'}).append(del_btn);
					tr.append(td_sbj).append(td_prd).append(td_obj).append(td_del);
					triple_table.append(tr);
				});

				triple_details.append(triple_hdr).append(triple_table);
				$('.pointers').append(triple_details);
			});

			$.each(data_out, function (i, row) {
				var triple_details = $('<details/>');

				var triple_hdr = $('<summary/>', {'class': 'triple-header'});
				var triple_hdr_sbj = $('<span/>', {'class': 'triple-sbj'});
				var triple_hdr_prd = $('<span/>', {'class': 'triple-prd'})
					.text(row['predicate']);
				var triple_hdr_obj = $('<span/>', {'class': 'triple-obj'})
					.text(row['objects'].length);
				triple_hdr.append(triple_hdr_sbj).append(triple_hdr_prd)
					.append(triple_hdr_obj);

				var triple_table = $('<table/>', {'class': 'triple-table'})
				$.each(row['objects'], function(i, obj) {
					// , {	'class': 'arrow','data-rabid': sbj.substring(33) }).text(sbj);
					var tr = $('<tr/>');
					var td_sbj = $('<td/>').text(data['uri']);
					var td_prd = $('<td/>').text(row['predicate']);
					var td_obj = $('<td/>').text(obj);
					var del_btn = $('<button/>').text('X');
					var td_del = $('<td/>', {'class': 'del-triple'}).append(del_btn);
					tr.append(td_sbj).append(td_prd).append(td_obj).append(td_del);
					triple_table.append(tr);
				});

				triple_details.append(triple_hdr).append(triple_table);
				$('.pointers').append(triple_details);
			});
		};

		var showDetails = function(data) {
			$('#uri-display').empty();
			$('#label-display').empty()
			$('.pointers').empty();
			$('.properties').empty();
			// var jdata = JSON.parse(data);
			var data_out = data['pointers'];
			var data_in = data['targets'];
			var data_props = data['properties'];

			$('#label-display').text(data['label']);
			$('#uri-display').text(data['uri']);
			$('#inspector').attr('data-rabid', data['rabid']);
			$('#reset-view').css('visibility', 'visible');

			$.each(data_props, function (i, row) {
				var tr = $('<tr/>').css('vertical-align','baseline');
				var td_prd = $('<td/>').text(row['predicate']).css({'border-top':'1px solid black', 'padding-top': '8px'});
				var td_data = $('<td/>').css({'border-top':'1px solid black', 'padding-top': '8px'});
				var lst = $('<ul/>');
				$.each(row['value'], function(i, val) {
					var li_val = $('<li/>').text(val);
					lst.append(li_val);
				});
				td_data.append(lst);
				tr.append(td_prd).append(td_data);
				$('.properties').append(tr);
			});

			$.each(data_in, function (i, row) {
				var triple_details = $('<details/>');

				var triple_hdr = $('<summary/>', {'class': 'triple-header'});
				var triple_hdr_sbj = $('<span/>', {'class': 'triple-sbj'})
					.text(row['subjects'].length);
				var triple_hdr_prd = $('<span/>', {'class': 'triple-prd'})
					.text(row['predicate']);
				var triple_hdr_obj = $('<span/>', {'class': 'triple-obj'});

				triple_hdr.append(triple_hdr_sbj).append(triple_hdr_prd)
					.append(triple_hdr_obj);

				var triple_table = $('<table/>', {'class': 'triple-table'});
				$.each(row['subjects'], function(i, sbj) {
					// , {	'class': 'arrow','data-rabid': sbj.substring(33) }).text(sbj);
					var tr = $('<tr/>');
					var td_sbj = $('<td/>').text(sbj);
					var td_prd = $('<td/>').text(row['predicate']);
					var td_obj = $('<td/>').text(data['uri']);
					tr.append(td_sbj).append(td_prd).append(td_obj);
					triple_table.append(tr);
				});

				triple_details.append(triple_hdr).append(triple_table);
				$('.pointers').append(triple_details);
			});

			$.each(data_out, function (i, row) {
				var triple_details = $('<details/>');

				var triple_hdr = $('<summary/>', {'class': 'triple-header'});
				var triple_hdr_sbj = $('<span/>', {'class': 'triple-sbj'});
				var triple_hdr_prd = $('<span/>', {'class': 'triple-prd'})
					.text(row['predicate']);
				var triple_hdr_obj = $('<span/>', {'class': 'triple-obj'})
					.text(row['objects'].length);
				triple_hdr.append(triple_hdr_sbj).append(triple_hdr_prd)
					.append(triple_hdr_obj);

				var triple_table = $('<table/>', {'class': 'triple-table'});
				$.each(row['objects'], function(i, obj) {
					// , {	'class': 'arrow','data-rabid': sbj.substring(33) }).text(sbj);
					var tr = $('<tr/>');
					var td_sbj = $('<td/>').text(data['uri']);
					var td_prd = $('<td/>').text(row['predicate']);
					var td_obj = $('<td/>').text(obj);
					tr.append(td_sbj).append(td_prd).append(td_obj);
					triple_table.append(tr);
				});

				triple_details.append(triple_hdr).append(triple_table);
				$('.pointers').append(triple_details);
			});
		};

		var addMergeCandidate = function( data ) {
			var tbl = $('#merge-candidates');
			var pointers = data['pointers'];
			var targets = data['targets'];
			var uri = data['uri'];

			var tr = $('<tr/>', {'data-rabid': data['rabid']}).css('vertical-align','baseline');
			var td_uri = $('<td/>').text(uri).css({'border-top':'1px solid black', 'padding-top': '8px'});
			var td_data = $('<td/>').css({'border-top':'1px solid black', 'padding-top': '8px'});
			var lst = $('<ul/>');
			$.each(targets, function (i, row) {
				var li = $('<li/>');				
				var prd = $('<span/>').text(row['predicate']);	
				var count = $('<span/>').text(row['subjects'].length);
				li.append(prd).append(count);
				lst.append(li);
			});
			$.each(pointers, function (i, row) {
				var li = $('<li/>');				
				var prd = $('<span/>').text(row['predicate']);	
				var count = $('<span/>').text(row['objects'].length);
				li.append(prd).append(count);
				lst.append(li);
			});
			td_data.append(lst);
			tr.append(td_uri).append(td_data);
			tbl.append(tr);
		};

		var removeMergeCandidate = function( rabid ) {
			var tbl = $('#merge-candidates');
			tbl.find(`tr[data-rabid='${rabid}']`).remove();
		};

		var resetView = function() {
			is_editing = false;

			$('#uri-display').empty();
			$('#label-display').empty();
			$('.pointers').empty();
			$('.properties').empty();
			$('#inspector').attr('data-rabid', '');
			$('#merge-candidates').empty();
			$('.selector-arrow').removeClass('selected editing');
			$('#reset-view').css('visibility', 'hidden');
			$('#merge-into input').css('visibility', 'hidden');
		};
	</script>
</body>
</html>