<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	<ul>
		{% for row in data %}
			<li data-rabid="{{ row.rabid }}">{{ row.label }}</li>
		{% endfor %}
	</ul>
	<p style="float:right" class="details">
	</p>
	<script>
		$('li').click( function() {
			var rabid = $(this).attr('data-rabid');
			$.ajax({
				// dataType: "json",
				url: 'http://localhost:5000/venues/details/' + rabid,
				success: function( data ) {
					showDetails( data );
				}
			});
		});

		var showDetails = function(data) {
			console.log(data);
			$('.details').append(data);
		};
	</script>
</body>
</html>